<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>添加账户</h1>
  <form method="post" action="/xss/addAccount">
    账户 <input type="text" name="username">
    <br>
    密码 <input type="password" name="password">
    <br>
    <br>
    <button type="submit">提交</button>
  </form>
</body>
</html>